@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{
    background: linear-gradient(0deg, rgba(34,195,150,1) 25%, rgba(45,253,195,1) 80%);
}

.container{
    height: 100vh;
    display: block;
    font-family: 'Poppins', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 2.7rem;
    margin: 0 0 10px 10px;
}

.content{
    display: column;
    padding: 10px 0 10px 10px;
}

.content p{
    font-size: 18px;
    margin-bottom: 10px;
}

.iConta{
    margin-bottom: 15px;
}

input{
    width: 325px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 4px 4px;
}

.line{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 8px;
}

.line div{
    background-color: #DDD;
    width: 99%;
    height: 3px;
}

.answer{
    margin: 10px 0 10px 10px;
    font-size: 19px;
    font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button { 
    appearance: none;
}

mark{
    background-color: rgba(10,23,55,0.2);
    border-radius: 6px;
    padding: 4px;
    box-shadow: 2px 2px;
}